.channel-links-collapsable {
  margin: 2px 8px;
  .expend-btn {
    display: flex;
    align-items: center;
    gap: 2px;

    cursor: pointer;
    .svg-icon {
      height: 9px;
      width: 9px;
    }

    &:hover {
      color: var(--content-highlight);
    }
  }
  .channel-link {
    margin: 2px 8px;

    .nav-link {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    &:hover {
      color: var(--content-highlight);
      background-color: #ffffff05;
    }

    &:has(.active) {
      color: var(--content-highlight);
      background-color: #ffffff22;
      border-radius: 4px;
    }
  }
}
