.channel-sidebar {
  background-color: var(--sidebar);
  padding: 8px 0 0 0;
  border-top-left-radius: 12px;
  display: grid;
  grid-template-rows: $title-height 1fr $title-height;

  .channel-sidebar-header {
    color: var(--content-highlight);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8px;
    border-bottom: 1px solid black;
  }
}
